@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #170f0c42;
    border: 2px solid #170f0c;
    color: #fe6222;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;    
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover{
    transform: scale(1.2); 
}

.intro-text{
    background-color: #af161c;
    color: #9ea9c1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image{
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a{
    background-color: #2c271f8f;
    border: 2px solid #657da2;
    color: #eab35a;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;    
    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover{
    transform: scale(1.2);
}

.quality-text{
    background-color: #bd610b;
    color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.origin-image{
    background-attachment: fixed;
    background-image: url('../img/image5.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.origin-image__link a{
    background-color: #2c271f8f;
    border: 2px solid #657da2;
    color: #e9e36d;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;    
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover{
    transform: scale(1.2);
}

.origin-text{
    background-color: #eb9500;
    color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.footer{
    height: 250px;
    background-color: #030303;
    color: #eab35a;
    font-size: 2rem;
    padding: 2rem;
}

.footer ul li {
     display: inline-block;
     margin: 1rem;
}

.footer ul li a {
    color: #eab35a;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.2);
}